<!doctype html>
<html>
  <head>
  	<!-- jquery -->
  	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

    <script src="../ng.js"></script>

    <script src="/socket.io/socket.io.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end -->
  </head>
  <body>
  	<nav class="navbar navbar-inverse">
  		<a class="navbar-brand" href="#">Distributed Jobs</a>
	</nav>

	<center>
		<h3>Submit job</h3>
	    <form action="/createJob" method="POST">
	      <div class="input-group input-group-lg">
  			<input type="text" class="form-control" aria-describedby="basic-addon1" name="name" placeholder="Insert job name">
		  </div>
		  </br>
		  <div class="input-group input-group-lg">
  			<textarea type="text" class="form-control" aria-describedby="basic-addon1" name="jobValue" placeholder="Insert job value to calculate"></textarea>
		  </div>
		  </br>
		  <div class="input-group">
  			<input type="radio" name="language" value="Haskell"> Haskell </input>
  			<input type="radio" name="language" value="Javascript"> Javascript </input>
		  </div>
		  </br>
		  <div class="wrapper" style="width: 50%;">
  		  	<textarea class="form-control" name="jobCode" rows="7" placeholder="Insert job code to be run"></textarea>
  		  </div>
		  </br>
	      <button type="submit" class="btn btn-default">Submit</button>
	    </form>
    </center>
  </body>
</html>
