<!doctype html>
<html>
  <head></head>
  <body>
    <form action="/createJob" method="POST">
      <label>Job Name</label>
      <input type="text" name="name"/>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>